@page
@model RegisterModel

@{
	ViewData["Title"] = "Kayıt Ol";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="Relax">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Relax Kundura</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="~/css/linearicons.css">
	<link rel="stylesheet" href="~/css/owl.carousel.css">
	<link rel="stylesheet" href="~/css/themify-icons.css">
	<link rel="stylesheet" href="~/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/css/nice-select.css">
	<link rel="stylesheet" href="~/css/nouislider.min.css">
	<link rel="stylesheet" href="~/css/bootstrap.css">
	<link rel="stylesheet" href="~/css/main.css">
</head>

<body>
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Giriş Yap/Üye Ol</h1>
					<nav class="d-flex align-items-center">
						<a asp-controller="Kullanici" asp-action="Index">Ana Sayfa<span class="lnr lnr-arrow-right"></span></a>
						<a asp-area="Identity" asp-page="/Account/Login">Giriş Yap/Üye Ol</a>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 order-lg-2">
					<div class="login_box_img">
						<img class="img-fluid" src="~/img\login.jpg" alt="">
						<div class="hover">
							<h4>Hesabın Var Mı ?</h4>
							<p>Hemen Giriş Yaparak Alışverişin Tadını Çıkarabilirsin</p>
							<a asp-area="Identity" asp-page="/Account/Login" class="primary-btn">Giriş Yap</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 order-lg-1">
					<div class="login_form_inner">
						<h3>Hesap Oluştur</h3>
						<form class="row login_form" method="post" id="account">
							<div class="col-md-12 form-group">
								<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
								<label asp-for="Input.Email">Email</label>
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
							<div class="col-md-12 form-group">
								<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
								<label asp-for="Input.Password">Password</label>
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<div class="col-md-12 form-group">
								<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
								<label asp-for="Input.ConfirmPassword">Confirm Password</label>
								<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
							</div>
							<div class="col-md-12 form-group">
								<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
							</div>
						</form>
					</div>
				</div>

			</div>

		</div>
	</section>


	<script src="~/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
	<script src="~/js/vendor/bootstrap.min.js"></script>
	<script src="~/js/jquery.ajaxchimp.min.js"></script>
	<script src="~/js/jquery.nice-select.min.js"></script>
	<script src="~/js/jquery.sticky.js"></script>
	<script src="~/js/nouislider.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="~/js/gmaps.min.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
